# Ignore test projects
*.vbw
# Ignore archives
*.zip
*.rar
# Binary files
*.exe
*.EXE
*.dll
*.DLL
CLS/*.bak
DATA/*
zINSTALL/*
zTESTDATA/*
EVESqlToMdb.xm_
EVESqlToMdb.xsd
Table.xml
EVESqlToMdb.xml
EWA_Live.xml
